* {
  margin: 0;
  padding: 0;
}

.logo{
width:20%;
display:flex;
justify-content: center;
align-items: center;
}
.logo img{
  width:33%;
  border: 3px solid gray;
  border-radius: 50px;
}

.navbar{
display: flex;
}

.nav-list{
  width: 50%;
  /* background-color: yellow; */
  display: flex;
  align-items: center;
}

.nav-list li{
list-style: none;
padding: 26px 34px;
}

.nav-list li a{
text-decoration:none;
color: gray;
}
.nav-list li a:hover{
color: rgb(148, 9, 9);
}

.rightNav{
width: 50%;
/* background-color: aquamarine; */
text-align: right;
}

#search{
  padding: 5px;
  font-size: 17px;
  border: 2px solid gray;
  border-radius:9px;
}